.txt {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    border-color: black;
    overflow: hidden;
    margin-top: 2em;
    
    animation: typing 7s steps(38) infinite,
    blink .2s step-end infinite alternate;
}

@keyframes typing {
    50% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}