@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

body,
code {
  font-family: 'Roboto Mono', monospace;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}